/GetCovidData/target/
/ConnectionTest/target/
/target/
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
CovidPhpProject/nbproject/private/private.properties
CovidPhpProject/nbproject/private/private.xml
CovidWebApplication/nbproject/private/private.properties
CovidWebApplication/nbproject/private/private.xml
